article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em;margin:0.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0}
html,button,input,select,textarea{color:#222}
body{font-family:"Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia,serif;font-size:1em;line-height:1.5}
::-moz-selection{color:#fdf6e3;background:#268bd2;text-shadow:none}
::selection{color:#fdf6e3;background:#268bd2;text-shadow:none}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1.5em 0;padding:0}
img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
h1{margin:1em 0;font-size:1.5em;line-height:1}
h2{margin:1.1250281257031427em 0;font-size:1.3333em;line-height:1.1250281257031427}
h3{margin:1.2857877593005314em 0;font-size:1.1666em;line-height:1.2857877593005314}
h4{margin:1.2857877593005314em 0;font-size:1.1666em;font-style:italic;line-height:1.2857877593005314}
h5{margin:1.5em 0;font-size:1em;line-height:1.5}
h6{margin:1.5em 0;font-size:1em;font-style:italic;line-height:1.5}
p{margin:1.5em 0}
ol,ul{padding:0 0 0 1.5em;margin:1.5em 0}
ul ul,ul ol,ol ol,ol ul{margin:0}
a,a:active,a:visited{color:#222}
.body{background:#f18400}
.header{padding:0 1.5em}
a.logo{display:inline-block;vertical-align:middle;margin:.75em 0;color:#fff;text-decoration:none}
.telBox{display:none;vertical-align:middle;font-size:.75em;padding:.5em;margin:.75em 0;margin-left:4em;background-color:#eedb7d;text-align:center;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em}
.nav{list-style:none;padding:0;margin:.75em 0}.nav li{display:inline}.nav li a{padding:.5em;white-space:nowrap}.nav li a:hover,.nav li a:focus{background:#f1ae5d}
.article{max-width:33em;min-width:15em;word-wrap:break-word;background:#fff;padding:0 1em;margin:0 1em;-webkit-border-radius:.75em;-moz-border-radius:.75em;border-radius:.75em;}.article:before,.article:after{content:" ";display:table;}
.article:after{clear:both}
.article{*zoom:1}
.article .mary{float:right;margin:1.5em 0 0.5em 1em;width:9em;height:auto;max-width:180px;max-height:200px}
.footer{text-align:center;}.footer:before,.footer:after{content:" ";display:table;}
.footer:after{clear:both}
.footer{*zoom:1}
@media only screen and (min-width:42em){body{font-size:1.25em} .telBox{display:inline-block}}@media only screen and (min-width:54em){.body{margin:0 1em}}@media only screen and (min-width:60em){.body{margin:0 2em}}@media only screen and (min-width:72em){.body{margin:0 22% 0 11%}}@media only screen and (min-width:90em){body{font-size:1.5em}}@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important} body{font-size:12pt;margin:0;max-width:none} a,a:visited{text-decoration:underline} a[href]:after{content:" (" attr(href) ")"} abbr[title]:after{content:" (" attr(title) ")"} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""} pre,blockquote{border:1px solid #999;page-break-inside:avoid} thead{display:table-header-group;} tr,img{page-break-inside:avoid} img{max-width:100% !important} @page {margin:11% 22% 22% 11%}@page :left{margin:11% 11% 22% 22%}p,h2,h3{orphans:3;widows:3} h2,h3{page-break-after:avoid} .header,.footer{display:none} .article{margin:0}}
