<!DOCTYPE html>
{% if page.language %}{% assign language = page.language %}{% else %}{% assign language = site.language %}{% endif %}
<html lang="{{language}}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.no_title_expansion %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% endif %}
    <meta http-equiv="Content-Language" content="{{language}}">
    <meta name="viewport" content="width=device-width">
    <base href="{{site.url}}{{site.baseurl}}">
    <link rel="stylesheet" href="css/f9aaf4f7d57b583b15461ddb7d8a1541.css">
    {% if page.canonical %}
    <link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.canonical}}">
    {% endif %}
</head>

<body class="{% if page.body_class %}{{ page.body_class }}{% endif %}">

<div class="header">
    <div class="logo">
        <a href="." title="Business English Bocholt"><img height="60" width="60" src="img/logo.jpg" /></a>
        <a href="." title="Business English Bocholt">Business English Bocholt</a>
    </div>
    <div class="telBox">
        <p>
            <a href="mailto:mok@abenteuer-irland.de">mok@abenteuer-irland.de</a><br />
            +49 2871 3108999
        </p>
    </div>
{% include nav.html %}
</div>
