<!DOCTYPE html>
{% if page.language %}{% assign language = page.language %}{% else %}{% assign language = site.language %}{% endif %}
<html lang="{{language}}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.no_title_expansion %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% endif %}
    <meta http-equiv="Content-Language" content="{{language}}">
    <meta name="viewport" content="width=device-width">
    <base href="{{site.url}}{{site.baseurl}}">
    <link rel="stylesheet" href="css/d41d8cd98f00b204e9800998ecf8427e.css">
    {% if page.canonical %}
    <link rel="canonical" href="{{site.url}}{{site.baseurl}}{{page.canonical}}">
    {% endif %}
</head>

<body class="{% if page.body_class %}{{ page.body_class }} {% endif %}light">

<div class="header">
    <a id="logo" href="." title="Business English Bocholt"><img height="48" width="48" src="img/logo.jpg" /> Business English Bocholt</a>
    <div id="telBox">
        <p>
            <a href="mailto:mok@abenteuer-irland.de">mok@abenteuer-irland.de</a><br />
            +49 2871 3108999
        </p>
    </div>
    <div id="language">
        <p>
        {% for language in site.languages %}
            {% for translation in page.translations %}
                {% if translation.language == language.short %}
                    <a href="{{translation.link}}"><img width="{{language.flag_width}}" height="{{language.flag_height}}" src="img/{{language.flag}}" alt="{{language.name}}"></a>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </p>
    </div>
    {% include nav.html %}
</div>
